<div class="container">

    <!-- This is for the inputs and the button on top -->
    <div class="card mt-3">
        <div class="row">
            <div class="col-md-6 col-sm-4">
                <input class="form-control" type="text" placeholder="Enter the title" [(ngModel)]="appointmentTitle">
            </div>
            <div class="col-md-4">
                <input class="form-control" type="date" placeholder="Choose a Date" [(ngModel)]="appointmentDate">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="button" (click)="addAppointment()">Add</button>
            </div>
        </div>
    </div>

    <app-appointment-items [appointments]="appointments"
        (deleteItem)="deleteAppointment($event)"></app-appointment-items>
</div>